page-tariktunai {
    agm-map {
        height: 300px;
      }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.child {
    position: absolute;
    font-size: 35px;
    margin-top: 138px;
    z-index: 999;
      }
}
