page-receipt {

    ion-card-content {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    ion-row {
        margin-top: 2px;
        margin-bottom: 2px;
        margin-left: 5px;
    }

}
