
<ion-header>
    <ion-navbar>
      <ion-title>Flight Ticket</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ng2-slim-loading-bar></ng2-slim-loading-bar>

    <div *ngIf="doneload">
      {{dataflight.search_queries.date}}
    </div>

<div *ngIf="doneload">
<ion-card *ngFor="let flight of dataflight.departures.result">
<ion-card-header style="padding:0px;">
  <ion-item style="height:22px;"><img item-start style="width: 20px; margin-bottom:0px;" src= {{flight.image}}/> <div item-start style="color:grey; font-size:11px;margin-bottom:0px;">{{flight.airlines_name | titlecase }}</div></ion-item>
  <ion-grid style="padding:0px">
    <ion-row style="height: 32px;">
      <ion-col>
        <ion-item style="height: 32px;">
        <div item-start style="font-size:15px ;"><strong>{{flight.simple_departure_time+' - '+ flight.simple_arrival_time }}</strong></div>
        </ion-item>
      </ion-col>
      <ion-col>
      <ion-item style="height: 32px;"><div style="font-size:15px ;" item-end>{{flight.price_value|currency:'IDR':'symbol':'4.2-2'}}</div></ion-item>  
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
<ion-item>
    <div style="font-size:11px ; color:grey" item-start>{{flight.duration.trim()}}</div>
</ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-header>
</ion-card>
</div>
  </ion-content>